#content1 {
    background-color: rgba(105, 102, 105, 0.267);
    color: #303030;
    .container{
        height: 500px;
        
    }
    .container img {
        transform: rotate(360deg);
        margin-left: 100px;
        width: 65%;
        margin-top: 5%;
        margin-bottom: 20px ;
      }
      
}

#content2 {
    background-color:#545454;
    color: white;
    .container{
        color: white;
        height: 500px;
        padding-top: 100px;
    }
    
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: rgb(145, 143, 143);
        transition: width 0.6s ease;
    }
   
      
}

#content3 {
    background-color:#cccccc;
    color: #545454;
   // Styling for the portfolio grid section
   .container{
    height: 1100px;
    padding-top: 100px;
}
}

.portfolio {
    margin-bottom: -30px;
    .portfolio-item {
      cursor: pointer;
      position: relative;
      display: block;
      max-width: 25rem;
      margin-bottom: 30px;
      border-radius: $border-radius;
      overflow: hidden;
      .portfolio-item-caption {
        position: absolute;
        top: 0;
        left: 0;
        transition: $transition-base;
        opacity: 0;
        background-color: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .portfolio-item-caption-content {
          font-size: 1.5rem;
        }
      }
    }
  
  
  // Styling for the portfolio modals
  .portfolio-modal {
    .portfolio-modal-title {
      font-size: 2.25rem;
      line-height: 2rem;
      @include media-breakpoint-up(lg) {
        font-size: 3rem;
        line-height: 2.5rem;
      }
    }
    .close {
      position: absolute;
      z-index: 1;
      right: 1.5rem;
      top: 1rem;
      font-size: 3rem;
      line-height: 3rem;
      color: $primary;
      opacity: 1;
    }
}
}

