@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables.scss';
@import 'navbar.scss';
@import 'header.scss';
@import 'sections.scss';
@import 'footer.scss';
@import 'base.scss';
@import 'components.scss';

.headerbackground {
	height:cover;
	width:cover;
	padding-top:100px;
}